<div class="container mt-4">
  <% if @question %>
  <p id="question-answer" hidden><%= @question.answer %></p>
  <div class="col-md-8 offset-md-2">
    <h3>
      <%= @question.question %>
    </h3>
    <ul style="list-style-type: none; font-size: 1.3rem" class="p-0 m-0">
      <li>
        A. <%= @question.option1 %>
      </li>
      <li>
        B. <%= @question.option2 %>
      </li>
      <li>
        C. <%= @question.option3 %>
      </li>
      <li>
        D. <%= @question.option4 %>
      </li>
    </ul>
    <div class="btn-group btn-group-lg mt-3" data-toggle="buttons">
      <label class="btn btn-outline-warning px-5">
        <input type="radio" name="options" id="question-option-A" autocomplete="off" style="width: 20px" value="A">A
      </label>
      <label class="btn btn-outline-warning px-5">
        <input type="radio" name="options" id="question-option-B" autocomplete="off" value="B">B
      </label>
      <label class="btn btn-outline-warning px-5">
        <input type="radio" name="options" id="question-option-C" autocomplete="off" value="C">C
      </label>
      <label class="btn btn-outline-warning px-5">
        <input type="radio" name="options" id="question-option-D" autocomplete="off" value="D">D
      </label>
    </div>  
    <div>
      <button class="btn btn-primary btn-block" id="question-answer-submit">Submit</button>
    </div>
    <div id="question-results" class="mt-3">
      <div id="question-result-alert">
        <h3 id="question-result-header"></h3>
        <hr>
        <h4 id="question-result-feedback"></h4>
      </div>
      <%= link_to "Next Question", next_question_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
  <% else %>
    <h3 align="center">You finished all the questions in this category!</h3>
    <%= link_to "Back to subject page", show_subject_path(@subject.code), class: "btn btn-success btn-lg", align: "center" %>
  <% end %>
</div>

<script language="javascript">
  $(document).ready(function(){
    $('#question-results').hide()
  })
</script>