<% renderer = Redcarpet::Render::HTML.new(render_options = {}) %>
<% markdown = Redcarpet::Markdown.new(renderer, superscript: true, subscript: true, fraction: true) %>
  <div class="row">
    <% @questions.each do |question| %>
      <div class="card col-lg-4 bg-info text-white p-2 col-md">
        <div class="card-header">
          <h3><%= raw(markdown.render(question.question)) %></h3>
        </div>
        <div>
          <%= image_tag(question.diagram.url, :width => "100%") if question.diagram.file? %>
        </div>
        <div class="card-body">
          <h5>Option A:</h5>
          <p><%= raw(markdown.render(question.option1)) %></p>
          <h5>Option B:</h5>
          <p><%= raw(markdown.render(question.option2)) %></p>
          <h5>Option C:</h5>
          <p><%= raw(markdown.render(question.option3)) %></p>
          <h5>Option D:</h5>
          <p><%= raw(markdown.render(question.option4)) %></p>
          <h5>Answer:</h5>
          <p><%= question.answer %></p>
        </div>
        <%= link_to "Edit", edit_question_path(question), class: "btn btn-warning btn-block" %>
        <%= link_to "Delete", destroy_category_question_path(question), 
        class: "btn btn-danger btn-block", method: :post, data: { confirm: "Are you sure you want to delete this question?" } %>
      </div>
    <% end %>
  </div>