<div class="container mt-4">
  <%= render 'shared/messages' %>
  <h1 align="center">Admin Portal</h1>
  <div class="row">
    <div class="col-md">
      <h2><span class="fa fa-database mr-2"></span>Actions</h2>
      <%= link_to "New Subject", new_subject_path, class: "btn btn-danger btn-block" %>
      <%= link_to "New Category", new_category_path, class: "btn btn-warning btn-block" %>
      <%= link_to "New Question", new_question_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-md">
      <h2><span class="fa fa-table mr-2"></span>View</h2>  
      <%= link_to users_path, class: "btn btn-success btn-block" do %>
        <span class="fa fa-users mr-1"></span>Users
      <% end %>
      <%= link_to subjects_path, class: "btn btn-light btn-block" do %>
        <span class="fa fa-list"></span> Subjects
      <% end %>
      <%= link_to questions_query_path, class: "btn btn-info btn-block" do %>
        <span class="fa fa-search"></span> Query Questions
      <% end %>
    </div>
  </div>
</div>