<div class="container mt-4">
  <h1 align="center">All categories for <%= @subject.name %></h1>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="card bg-dark text-white col-md-4 p-3">
        <div class="card-header">
          <h2>
            <%= category.name %>
          </h2>
        </div>
        <div class="card-body">
          <h5>
            <%= pluralize(category.questions.count, "Question") %>
          </h5>
        </div>
          <%= link_to "View Questions", category_questions_path(category), class: "btn btn-primary btn-block"%>
          <%= link_to "Remove category", destroy_category_path(category), class: "btn btn-danger btn-block", 
          method: :post, data: {confirm: "Are you sure you want to delete the category #{category.name}?"}%>
      </div>  
    <% end %>
  </div>
</div>