<div class="container mt-4">
  <% if @subjects %>
    <h1 align="center">All Subjects</h1>
    <div class="row">
      <% @subjects.each do |subject| %>
        <div class="col-md-4 col-sm-6 my-3">
          <div class="row">
            <div class="col-5 center">
              <%= image_tag(subject.avatar.url, :width => "100%", class: "rounded-circle") %>
            </div>  
            <div class="col-7">
              <h3><%= link_to subject.name, show_subject_path(subject), class: "text-white" %></h3>
              <div class="p-2">
                <%= link_to subject_categories_path(subject) do %>
                  <button type="button" class="btn btn-success btn-sm">
                    Categories <span class="badge badge-light"><%= subject.categories.count %></span>
                  </button>
                <% end %>  
                <%= link_to subject_questions_path(subject) do %>
                    <button type="button" class="btn btn-primary btn-sm">
                      Questions <span class="badge badge-light"><%= subject.questions.count %></span>
                    </button>
                <% end %>  
              </div>
              <div class="p-2">
                <%= link_to "Edit", edit_subject_path(subject), class: "btn btn-warning btn-md" %>
                <%= link_to "Delete", destroy_subject_path(subject), class: "btn btn-danger btn-md", 
                method: :post, data: {confirm: "Are you sure you want to delete the subject #{subject.name}"} %>
              </div>
          </div>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
</div>