<div class="container mt-4">
  <h1 align="center">Add a new subject</h1>
  <div class="col-md-4 offset-md-4">
    <%= render 'shared/errors', object: @subject %>
    <%= form_for @subject, :url => { :controller => 'subjects', :action => 'create'}, method: :post do |f| %>
      <div class="form-group">
        <label for="subject-name-input">Subject name</label>
        <%= f.text_field :name, class: "form-control", id: "subject-name-input", placeholder: "eg. Mathematics" %>
      </div>
      <div class="form-group">
        <label for="question-category">Subject Code</label>
        <%= f.text_field :code, class: "form-control", id: "subject-code-input", placeholder: "eg. MATH" %>  
      </div>
      <div class="form-group">
        <label for="question-category">Papers</label>
        <%= f.number_field :papers, class: "form-control", id: "subject-code-input", placeholder: "eg. 2" %>
      </div>
      <%= f.submit "Submit", class:"btn btn-success btn-block" %>
    <% end %>
  </div>
</div>