<!DOCTYPE html>
<html>
  <head>
    <title>Matric Squared</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,400i,700,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    
  </head>
  <body class="bg-dark text-white" data-spy="scroll" data-target="#how-it-works">
    <%= render 'layouts/navbar' %>
    <div class="app-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
